# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/target

# IDE
.idea/
*.iml
.vscode/

# Misc/sec

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup.*

#db properties different per user so ignore
src/main/resources/db.properties

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java
*.class
*.jar
*.war
*.ear
*.logs
*.iml

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# npm install stuff
package-lock.json
