<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.bookstore.web.BookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/api/books/*</url-pattern>
    </servlet-mapping>

    <!-- Default servlet for static resources -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecurityServlet</servlet-name>
        <servlet-class>com.bookstore.web.SecurityServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecurityServlet</servlet-name>
        <url-pattern>/api/security/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.bookstore.web.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/api/user/*</url-pattern>
    </servlet-mapping>

</web-app> 